@charset "UTF-8";
/* abstracts / _variables.scss */
/* 색상 변수 */
/* 이미지 경로 */
/* abstracts / _function.scss */ /* abstracts / _mixin.scss */
/* position */
/* IR */
/* bg */
/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, nav, section, article, header, footer, main, aside, dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {
  margin: 0;
  padding: 0;
}

body, input, select, textarea, button, img, fieldset {
  border: none;
}

ul, ol, li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address, cite, code, em, i {
  font-style: normal;
  font-weight: normal;
}

label, img, input, select, textarea, button, a {
  vertical-align: middle;
}

u, ins, a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Normalize */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=date] {
  position: relative;
  width: 100px;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:valid::before {
  display: none;
}

/* base / _typography.scss */
/* 폰트 */
html, body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 폰트 : rem */
html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

.title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.9rem;
  color: #060606;
}

/* component / _button.scss */
.btn-prev {
  background: url(../images/icon_back_24.svg) no-repeat center;
  background-size: 2.4rem auto;
  width: 4rem;
  height: 4rem;
}
.btn-menu {
  background: url(../images/icon_menu_24.svg) no-repeat center;
  background-size: 2.4rem auto;
  width: 4rem;
  height: 4rem;
}
.btn-cart {
  background: url(../images/icon_cart_24.svg) no-repeat center;
  background-size: 2.4rem auto;
  position: relative;
  width: 4rem;
  height: 4rem;
}
.btn-cart span {
  position: absolute;
  right: 0.06px;
  top: 0.25px;
  background-color: #FF3D45;
  color: #fff;
  padding: 0 0.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border-radius: 1.6rem;
  font-size: 1.1rem;
  font-weight: 500;
}

/* component / _gnb.scss */
.gnb {
  display: flex;
  background-color: #fff;
  box-shadow: 0 -0.4rem 0.4rem rgba(6, 6, 6, 0.04);
}
.gnb li {
  position: relative;
  flex: 1;
  text-align: center;
}
.gnb li a {
  display: block;
  padding: 3.5rem 0 0.6rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: #838A93;
}
.gnb .ico1 {
  background: url(../images/icon_gnb_off1.svg) no-repeat center 0.8rem;
}
.gnb .ico1:hover {
  background: url(../images/icon_gnb_on1.svg) no-repeat center 0.8rem;
}
.gnb .ico1:hover a {
  color: #000;
}
.gnb .ico2 {
  background: url(../images/icon_gnb_off2.svg) no-repeat center 0.8rem;
}
.gnb .ico2:hover {
  background: url(../images/icon_gnb_on2.svg) no-repeat center 0.8rem;
}
.gnb .ico2:hover a {
  color: #000;
}
.gnb .ico3 {
  background: url(../images/icon_gnb_off3.svg) no-repeat center 0.8rem;
}
.gnb .ico3:hover {
  background: url(../images/icon_gnb_on3.svg) no-repeat center 0.8rem;
}
.gnb .ico3:hover a {
  color: #000;
}
.gnb .ico4 {
  background: url(../images/icon_gnb_off4.svg) no-repeat center 0.8rem;
}
.gnb .ico4:hover {
  background: url(../images/icon_gnb_on4.svg) no-repeat center 0.8rem;
}
.gnb .ico4:hover a {
  color: #000;
}
.gnb .ico5 {
  background: url(../images/icon_gnb_off5.svg) no-repeat center 0.8rem;
}
.gnb .ico5:hover {
  background: url(../images/icon_gnb_on5.svg) no-repeat center 0.8rem;
}
.gnb .ico5:hover a {
  color: #000;
}

/* component / _tab.scss */
.tab-type1 {
  display: flex;
  align-items: center;
  background-color: #E5E8F0;
  height: 4.7rem;
  border-radius: 4.7rem;
  padding: 0.4rem;
  box-sizing: border-box;
}
.tab-type1--active {
  background-color: #fff;
  height: 3.9rem;
  line-height: 3.9rem;
}
.tab-type1--active a, .tab-type1--active button {
  color: #060606;
}
.tab-type1--active {
  background-color: #fff;
  height: 3.9rem;
  line-height: 3.9rem;
}
.tab-type1--active a, .tab-type1--active button {
  color: #060606;
}
.tab-type1 li {
  flex: 1;
  text-align: center;
  border-radius: 4.7rem;
}
.tab-type1 a, .tab-type1 button {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #555D67;
  background-color: transparent;
}

/* layout / _align.scss */
/* 정렬 */
.align {
  display: flex;
  /* 다중 클래스 */
}
.align.left {
  justify-content: flex-start;
}
.align.right {
  justify-content: flex-end;
}
.align.both {
  justify-content: space-between;
}

/* layout / __footer.scss */ /* layout / _header.scss */
.header-wrap {
  display: flex;
  align-items: center;
  height: 4.8rem;
  position: relative;
}
.header-wrap .title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header-wrap .align {
  width: 100%;
}/*# sourceMappingURL=style.css.map */