/* 정렬 */
.align {
    display: flex;
    /* 다중 클래스 */
    &.left {
        justify-content: flex-start;
    }
    &.right {
        justify-content: flex-end;
    }
    &.both {
        justify-content: space-between;
    }
}
