@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif;
}

.header-wrap {
    display: flex;
    align-items: center;
    height: 48px;
    position: relative;

    .title {
        @include position(left, 50%, top, 50%); //mixin 불러오기
    }
    .align {
        width: 100%;
    };
}