/* component / _button.scss */
.btn {
    &-prev {
        //include는 최상단에 넣기
        @include bg('icon_back_24.svg',center,null,null,rem(24),auto);
        width: rem(40); //40px = 4rem
        height: rem(40);
    }
    &-menu {
        @include bg('icon_menu_24.svg',center,null,null,rem(24),auto);
        width: rem(40);
        height: rem(40);
    }
    &-cart {
        @include bg('icon_cart_24.svg',center,null,null,rem(24),auto);
        position: relative;
        width: rem(40);
        height: rem(40);
        span {
            @include position(right, 0.06px, top, 0.25px);
            background-color: $red;
            color: $white;
            padding: 0 rem(6);
            height: rem(16);
            line-height: rem(16);
            border-radius: rem(16); //border-radius는 height만큼 주기
            font-size: rem(11);
            font-weight: 500;
        }
    }
}

