/* component / _gnb.scss */
.gnb {
    display: flex;
    background-color: $white;
    box-shadow: 0 rem(-4) rem(4) rgba($gray06, 0.04);
    li {
        position: relative;
        flex: 1;
        text-align: center;
        a {
            display: block;
            padding: rem(35) 0 rem(6);
            font-size: rem(11);
            line-height: rem(16);
            font-weight: 500;
            color: $gray83;
        }
    }
    //for 반복문으로 li class의 background를 차례대로 이미지 적용
    //hover하면 이미지와 폰트 색상 변경
    @for $i from 1 to 6 {
        .ico#{$i} {
            @include bg('icon_gnb_off' + #{$i} + '.svg', center, rem(8)); //이미지 경로에서 보간이 들어가기 때문에 '' + '' 로 구분해주기
            &:hover {
                @include bg('icon_gnb_on' + #{$i} + '.svg', center, rem(8));
                a {
                    color: $black;
                }
            }
        }
    }
}