/* component / _tab.scss */
.tab {
    &-type1 {
        display: flex;
        align-items: center;
        background-color: $graye5;
        height: rem(47);
        border-radius: rem(47);
        padding: rem(4);
        box-sizing: border-box;
        &--active {
            background-color: $white;
            height: rem(39);
            line-height: rem(39);
            a, button {
                color: $gray06;
            }
        }
        &--active {
            background-color: $white;
            height: rem(39);
            line-height: rem(39);
            a, button {
                color: $gray06;
            }
        }
        li {
            flex: 1;
            text-align: center;
            border-radius: rem(47);
        }
        a, button {
            width: 100%;
            font-size: rem(15);
            line-height: rem(23);
            color: $gray55;
            background-color: transparent;
        }
    }
}