/* base / _typography.scss */
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html, body {font-family: 'Noto Sans KR', sans-serif;}

/* 폰트 : rem */
html {font-size: 62.5%;} //백분율로 환산하면 10px과 같다. 접근성 때문에 62.5% 추천
body {font-size: 1rem;}

.title {
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(29);
    color: $black06; //색상 변수 설정 > _variables.scss
}