/* abstracts / _mixin.scss */
/* position */
@mixin position($x, $xValue, $y, $yValue){
    position: absolute;
    #{$x}:$xValue; //x축: x축값; #{} > 보간 사용
    #{$y}:$yValue; //y축: y축값; #{} > 보간 사용

    @if $xValue == 50% and $yValue == 50% { //x축 50% y축 50%
        transform: translate(-50%, -50%); 
    }@else if $xValue == 50% { //x축 50%
        transform: translateX(-50%);
    }@else if $yValue == 50% { //y축 50%
        transform: translateY(-50%);
    }
}

/* IR */
@mixin blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}