/* abstracts / _mixin.scss */
/* position */
@mixin position($x, $xValue, $y, $yValue){
    position: absolute;
    #{$x}:$xValue; //x축: x축값; #{} > 보간 사용
    #{$y}:$yValue; //y축: y축값; #{} > 보간 사용

    @if $xValue == 50% and $yValue == 50% { //x축 50% y축 50%
        transform: translate(-50%, -50%); 
    }@else if $xValue == 50% { //x축 50%
        transform: translateX(-50%);
    }@else if $yValue == 50% { //y축 50%
        transform: translateY(-50%);
    }
}

/* IR */
@mixin blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

/* bg */
@mixin bg($imgfile, $x, $y, $bgcolor, $width, $height){ //배경 이미지를 불러오는데 필요한 모든 매개변수
    background: url(#{$imgurl}#{$imgfile}) no-repeat $x $y $bgcolor; //#{$imgurl} -> 이미지 경로는 모두 같기 때문에 미리 정의한 변수 활용, $imgfile -> 각 이미지 파일 이름
    background-size: $width $height; //위 코드에 '/ width height'로 한 줄에 들어갈 수 있지만, 슬래시가 오류나기 때문에 따로 빼줌
}